@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .blob {
    border-radius: 50%;
    filter: blur(80px);
    pointer-events: none;
    position: absolute;
  }
}
